{% extends "templates/_base/base.html" %}
{% import "components/detail-intro/_detail-intro.html" as detailIntro %}

{% block content %}
<div class="about">
  {{ detailIntro.detailIntro(cms.about) }}
  <section class="max-width-centered">
    <div class="text-image" data-component="text-image">
		<section class="max-width-centered">
			<h1>{{ cms.about.main_content_title }}</h1>
			<div class="text-image-content">
				<div class="text-image-block {% if not cms.about.main_content_visuals_top %} medium-width {% else %} half-width {% endif %}">
					{% if cms.about.main_content_visuals_top %}
					<div class="inline-visual">
						{% for visual in cms.about.main_content_visuals_top %}
						<img src="{{ visual.visual|imageSize(500,500) }}" alt="{{ visual.visual_alt_text }}" />
						{% endfor %}
					</div>
					{% endif %}
					<p>{{ cms.about.main_content_text_top|safe }}</p>
				</div>
				<div class="text-image-block {% if not cms.about.main_content_visuals_bottom %} medium-width {% else %} half-width {% endif %}">
					{% if cms.about.main_content_visuals_bottom %}
					<div class="inline-visual">
						{% for visual in cms.about.main_content_visuals_bottom %}
						<img src="{{ visual.visual|imageSize(500,500) }}" alt="{{ visual.visual_alt_text }}" />
						{% endfor %}
					</div>
					{% endif %}
					<p>{{ cms.about.main_content_text_bottom|safe }}</p>
				</div>
			</div>
		</section>
	</div>
	<div class="summary" data-component="summary">
		<section class="max-width-centered">
			<div class="summary-content">
				{% if cms.about.content_block_visual %}
				<img src="{{ cms.about.content_block_visual|imageSize(900,200) }}" alt="{{ cms.about.content_block_visual_alt_text }}"/>
				{% endif %}
				<div class="summary-text">
					<h2>{{ cms.about.content_block_title }}</h2>
					{% if cms.about.content_block_inline_visual %}
					<img class="inline-visual"
						src="{{ cms.about.content_block_inline_visual|imageSize(500,500) }}"
						alt="{{ cms.about.content_block_inline_visual_alt_text}}" />
					{% endif %}
					{{ cms.about.content_block_text|safe }}
					{% if cms.about.content_block_inline_visual %}
					<img src="{{ cms.about.content_block_bottom_visual|imageSize(500,500)  }}" alt="{{ cms.about.content_block_bottom_visual_alt_text }}"/>
					{% endif %}
				</div>
			</div>
		</section>
	</div>
	<div class="text-image" data-component="text-image">
		<section class="max-width-centered">
			<h1>{{ cms.about.additional_content_title }}</h1>
			<div class="text-image-content">
				<div class="text-image-block medium-width">
					<p>{{ cms.about.additional_content_text|safe }}</p>
				</div>
			</div>
		</section>
	</div>
    {% include "components/bibliography/_bibliography.html" %}
    {% include "components/related/_related.html" %}
  </section>
</div>

{% endblock %}
