<!-- detail-main -->
<main class="detail-main" data-component="detail-main">
	<span data-placeholder>&nbsp;</span>

	{% import  "components/summary/_summary.html" as summaryBlock %}
	{{ summaryBlock.summaryBlock(summaryContent) }}

	{% import  "components/quote/_quote.html" as quoteBlock %}
	{{ quoteBlock.quoteBlock(quote) }}

	{% import  "components/highlight/_highlight.html" as highlight %}
	{{ highlight.highlightBlock(highlightContent) }}

	{% import "components/score/_score.html" as score %}
	{{ score.scoreExpandible(content) }}
</main>
<!-- /detail-main -->
