<!-- footer -->
<footer class="footer" data-component="footer">
	<div class="max-width-centered">
		<div class="footer-contact">
			<h2>Review requests or comments?</h2>
			<p>
                We are always open to review requests or comments on the information and reviews on this website.

			</p>
			<a class="ui-button-secondary" href="mailto:review@carui.info?subject=Car%20UI%20Review%20request%20/%20feedback">
				Email us
			</a>
		</div>
		<div class="footer-content">
			<h1>CAR UI is an initiative of UNITiD interaction designers</h1>
			<p>
                Digital interactive displays are popping up in all new produced cars. And with this trend, new problems of interaction arise, that were long covered in the era of physical buttons and sliders. With our experience in digital design we believed that it was time to pinpoint those problems, and started our CAR UI initiative.

            </p>
			<div class="footer-branding">
				<a href="/">
					<span class="icon icon-car-ux-logo-white">CAR UI</span>
				</a>
				<a href="http://www.unitid.nl/">
					<span class="icon icon-unitid-logo">UNITiD</span>
				</a>
				<a href="http://voorhoede.nl/portfolio/car-ui/">
					<span class="icon icon-voorhoede-logo">De Voorhoede</span>
				</a>
			</div>
			<div class="footer-social">
				<p>Follow us</p>
				<a target="_blank" class="social-button icon-facebook-white-black" href="https://www.facebook.com/Caruserinterface">Facebook</a>
				<a target="_blank" class="social-button icon-twitter-white-black" href="https://twitter.com/ui_car">Twitter</a>
				<a target="_blank" class="social-button icon-gplus-white-black" href="https://plus.google.com/+CaruiInfo/">Google Plus</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->
