<!DOCTYPE html>
<html class="no-js">
<head>
	<title>
		
Widget score (preview) 
		Widget-score | Car UI
		

	</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<meta name="description" content="Car UI" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" href="/static/images/favicons/favicon.ico" type="image/ico" />
	<link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-touch-icon-57x57.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-touch-icon-114x114.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-touch-icon-144x144.jpg">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-touch-icon-60x60.jpg">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-touch-icon-120x120.jpg">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-touch-icon-76x76.jpg">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-touch-icon-152x152.jpg">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon-180x180.jpg">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-192x192.jpg" sizes="192x192">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-160x160.jpg" sizes="160x160">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-96x96.jpg" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-16x16.jpg" sizes="16x16">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-32x32.jpg" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/static/images/favicons/mstile-144x144.jpg">

	<script>(function(e){e.className = e.className.replace('no-js','js');}(document.documentElement));</script>
	
	<script>/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};grunticon(["/static/images/grunticon-output/icons.data.svg.css", "/static/images/grunticon-output/icons.data.jpg.css", "/static/images/grunticon-output/icons.fallback.css"]);</script>
	<noscript>
		<link rel="stylesheet" href="/static/images/grunticon-output/icons.fallback.css" />
	</noscript>
	<link rel="stylesheet" href="/static/css/main.css"/>
	<link rel="stylesheet" href="/static/css/prism.css"/>
</head>
<body>
	<!-- use data attributes to target in JS -->
	<div id="page">
		

		
<div class="page">
	<div class="core-layout">
		<header class="app-guide-content app-guide-header">
			<img src="/static/images/grunticon-svgs/car-ux-logo.svg" alt="Car UX logo" class="app-guide-logo app-guide-logo-box-1"/>
				<h1></h1>
				<h2 class="app-guide-subtitle">Front-end guide for  by De Voorhoede</h2>
		</header>

		

<main class="app-guide-main">
	<script>window.testApp = {}; // namespace to register modules for testing</script>
	<h1 class="section-title app-guide-content">Widget score</h1>
	<div class="app-guide-content app-guide-markdown language-markdown">
		
	</div>

	<section id="section-preview" class="app-guide-section">
		<a class="app-guide-icon app-guide-icon-list app-guide-back"
		   href="/" title="back to overview"></a>
		<h2 class="app-guide-section-title">
			Preview 
<a href="#section-preview"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

		</h2>
		<div class="app-guide-preview-top">
			<div class="app-guide-crop-mark"></div>
		</div>
		<div class="app-guide-preview">
			{% macro widgetScore(content) %}
<!-- widget-score -->
<div class="widget-score" data-component="widget-score">
	<div class="score-overview" data-widget-score-overview>
		<header>
			<span class="icon icon-gauge{{ content.gaugeScore }}"></span>
			<span class="score">{{ content.widgetScore.score }}</span>
			<span class="icon icon-arrow-down" data-score-header-arrow></span>
		</header>
		<ul>
			{% for property, value in content.widgetScore.scoreDetails %}
			<li>
				<a href="#{{ property }}" tabindex="-1">
					<span class="label">{{ property | capitalize }}</span>
					<span class="value">{{ value.score }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="score-summary">
		<ul>
			{% for goodText in content.widgetScore.summary.good %}
				<li><span class="icon icon-plus"></span>{{ goodText }}</li>
			{% endfor %}
		</ul>
		<ul>
			{% for badText in content.widgetScore.summary.bad %}
				<li><span class="icon icon-min-red"></span>{{ badText }}</li>
			{% endfor %}
		</ul>
	</div>
</div>
<!-- /widget-score -->
{% endmacro %}

{%
	set content = {
		pageUrl: 'http://www.carui.info/bmw-i3-nl/',
		backgroundImage: pathToAssets + 'images/bmw-i3-nl/bmw-i3-dashboard.jpg',
		backgroundImageAlt: 'BMW i3 dashboard',
		titleImage: pathToAssets + 'images/bmw-i3-nl/bmw-i3-small.jpg',
		titleImageAlt: 'BMW i3 small',
		title: 'BMW i3',
		subtitle: 'Business model 1.5 TDI',
		description: 'Introtekst over de nieuwe BMW i3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa orem psum dolor sit.',
		testTagline: 'Getest op 12 juni 2014 door Hylke van Maaren en Miranda Schenkel',
		gaugeScore: '4',
		widgetScore: {
			score: '8,5',
			scoreDetails: {
				uitstraling: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				contrast: {
					score: '5',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				focus: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				usability: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				features: {
					score: '3',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				}
			},
			summary: {
				good: [
					'De UI is contrastrijk',
					'Hardware knop'
				],
				bad: [
					'De inputmethode',
					'Navigatie viel tegen'
				]
			}
		},
		socialSharing: {
			twitter: 'Twitter - share text',
			facebook: 'Facebook - share text'
		}
	}
%}
{{ widgetScore(content) }}
		</div>
		<div class="app-guide-preview-bottom">
			<div class="app-guide-crop-mark"></div>
		</div>
	</section>

	<section id="section-code" class="app-guide-section app-guide-content">
		<h2 class="app-guide-section-title">
			Code 
<a href="#section-code"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

		</h2>
		

		
		<section id="section-code-html">
			<h3 class="app-guide-section-title">
				HTML 
<a href="#section-code-html"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-markup"><code>{% macro widgetScore(content) %}
&lt;!-- widget-score -->
&lt;div class="widget-score" data-component="widget-score">
	&lt;div class="score-overview" data-widget-score-overview>
		&lt;header>
			&lt;span class="icon icon-gauge{{ content.gaugeScore }}">&lt;/span>
			&lt;span class="score">{{ content.widgetScore.score }}&lt;/span>
			&lt;span class="icon icon-arrow-down" data-score-header-arrow>&lt;/span>
		&lt;/header>
		&lt;ul>
			{% for property, value in content.widgetScore.scoreDetails %}
			&lt;li>
				&lt;a href="#{{ property }}" tabindex="-1">
					&lt;span class="label">{{ property | capitalize }}&lt;/span>
					&lt;span class="value">{{ value.score }}&lt;/span>
				&lt;/a>
			&lt;/li>
			{% endfor %}
		&lt;/ul>
	&lt;/div>
	&lt;div class="score-summary">
		&lt;ul>
			{% for goodText in content.widgetScore.summary.good %}
				&lt;li>&lt;span class="icon icon-plus">&lt;/span>{{ goodText }}&lt;/li>
			{% endfor %}
		&lt;/ul>
		&lt;ul>
			{% for badText in content.widgetScore.summary.bad %}
				&lt;li>&lt;span class="icon icon-min-red">&lt;/span>{{ badText }}&lt;/li>
			{% endfor %}
		&lt;/ul>
	&lt;/div>
&lt;/div>
&lt;!-- /widget-score -->
{% endmacro %}

{%
	set content = {
		pageUrl: 'http://www.carui.info/bmw-i3-nl/',
		backgroundImage: pathToAssets + 'images/bmw-i3-nl/bmw-i3-dashboard.jpg',
		backgroundImageAlt: 'BMW i3 dashboard',
		titleImage: pathToAssets + 'images/bmw-i3-nl/bmw-i3-small.jpg',
		titleImageAlt: 'BMW i3 small',
		title: 'BMW i3',
		subtitle: 'Business model 1.5 TDI',
		description: 'Introtekst over de nieuwe BMW i3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa orem psum dolor sit.',
		testTagline: 'Getest op 12 juni 2014 door Hylke van Maaren en Miranda Schenkel',
		gaugeScore: '4',
		widgetScore: {
			score: '8,5',
			scoreDetails: {
				uitstraling: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				contrast: {
					score: '5',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				focus: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				usability: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				features: {
					score: '3',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				}
			},
			summary: {
				good: [
					'De UI is contrastrijk',
					'Hardware knop'
				],
				bad: [
					'De inputmethode',
					'Navigatie viel tegen'
				]
			}
		},
		socialSharing: {
			twitter: 'Twitter - share text',
			facebook: 'Facebook - share text'
		}
	}
%}
{{ widgetScore(content) }}</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_widget-score.html" title="view source HTML"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_widget-score.html" download="_widget-score.html" title="download HTML"></a></li>
				</ul>
			</div>
		</section>
		

		
		<section id="section-code-css">
			<h3 class="app-guide-section-title">
				CSS 
<a href="#section-code-css"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-css"><code>@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* widget-score component */

$headerHeight: 		80px;

.widget-score {
	background-color: $medium-grey;
	overflow: hidden;
	position: relative;
	min-height: 220px;
	padding-bottom: 15px;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.score-overview {
		@include box-shadow(0px 0px 2px 1px $dark-grey);
		@include transition(box-shadow .2s ease-out, height .5s ease-out);

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: $headerHeight;
		background-color: $yellow;
		overflow: hidden;
		z-index: 1; // Just on top of the score-summary

		&:hover,
		&:focus {
			@include box-shadow(0px 0px 15px 1px $dark-grey);
			@include transition(box-shadow .2s ease-out, height .5s ease-out);
		}

		&.expanded {
			height: 100%;
		}

		ul {
			margin-top: 5px;
			padding: 0 30px;

			li {
				margin-bottom: 14px;

				a {
					@include header-font();
					@include clearfix();

					border: none;
					font-size: 25px;

					&:hover,
					&:focus {
						color: $black;

						.label {
							@include transition(border-bottom .2s ease-out);

							border-bottom: 1px solid $black;
						}
					}

					.label {
						@include transition(border-bottom .2s ease-out);

						float: left;
						border-bottom: 1px solid transparent;
					}

					.value {
						float: right;
					}
				}
			}
		}

		header {
			cursor: pointer;
			padding: 15px 30px;
			position: relative;

			.icon {
				vertical-align: middle;
			}

			.icon-arrow-down,
			.icon-arrow-up {
				position: absolute;
				right: 30px;
				top: 30px;
			}
		}

		.score {
			@include header-font();

			color: $black;
			font-size: 36px;
			vertical-align: middle;
			margin-left: 17px;
		}
	}

	.score-summary {
		@include normal-font();

		padding: 30px;
		margin-top: $headerHeight;
		background-color: $medium-grey;

		ul {
			margin-bottom: 30px;

			&:last-of-type {
				margin-bottom: 0;
			}

			li {
				position: relative;
				margin-bottom: 15px;
				padding-left: 30px;

				.icon {
					position: absolute;
					left: 0;
					top: 1px;
					margin-right: 20px;
				}
			}
		}
	}
}</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_widget-score.css" title="view source CSS"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_widget-score.css" download="_widget-score.css" title="download CSS"></a></li>
				</ul>
			</div>
		</section>
		

		
		<section id="section-code-javascript">
			<h3 class="app-guide-section-title">
				JS 
<a href="#section-code-js"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-javascript"><code>(function(d){
	'use strict';

	var toggleClass = helpers.dom.toggleClass;
	var widgetElms = d.querySelectorAll('[data-component="widget-score"]');

	[].forEach.call([].slice.call(widgetElms), function (widgetElm) {
		var headerElm = widgetElm.querySelector('[data-widget-score-overview]');
		var headerArrow = widgetElm.querySelector('[data-score-header-arrow]');
		headerElm.addEventListener('click', function() {

			var anchors = this.querySelectorAll('a');
			[].forEach.call([].slice.call(anchors), function(anchor) {
				if (anchor.getAttribute('tabindex') === '-1') {
					anchor.setAttribute('tabindex', '0');
				} else {
					anchor.setAttribute('tabindex', '-1');
				}
			});

			toggleClass(this, 'expanded');
			toggleClass(headerArrow, 'icon-arrow-down');
			toggleClass(headerArrow, 'icon-arrow-up');
		});
	});

}(document));</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_widget-score.js" title="view source JavaScript"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_widget-score.js" download="_widget-score.js" title="download JavaScript"></a></li>
				</ul>
			</div>
		</section>
		

	</section>
</main>


	</div>

</div>


		
<footer class="app-guide-footer">
	This page is generated using <a href="http://voorhoede.nl">De Voorhoede</a>'s template builder
</footer>

	</div>

	

	<script src="/static/scripts/main.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-56616974-1', 'auto');
		ga('send', 'pageview');
	</script>
	
<script src="/static/javascript/prism.js"></script>



</body>
</html>
