{% macro detailIntro(content) %}
<!-- intro -->
<div class="{% if content.widgetScore %}detail-intro{% else %}detail-intro-text{% endif %}" data-component="{% if content.widgetScore %}detail-intro{% else %}detail-intro-text{% endif %}">
	<img itemprop="image" class="intro-background" src="{{ content.backgroundImage }}" alt="{{ content.backgroundImageAlt }}" />
	<section class="intro-content max-width-centered" data-intro-section>
		<article class="intro-text" data-intro-text>
			<header>
				<img class="intro-title-image" src="{{ content.titleImage }}" alt="{{ content.titleImageAlt }}" />
				<h1 itemprop="name">
					{{ content.title }}
					<span class="subtitle">{{ content.subtitle }}</span>
				</h1>
			</header>
			{% if content.inlineVisual %}
			<img class="inline-visual" src="{{ content.inlineVisual }}" alt="{{ content.title }}" />
			{% endif %}
			<p itemprop="description">
				{{ content.description }}
			</p>
		</article>
		<div class="widget-score-block">
			<div class="widget-score" data-component="widget-score">
	<div class="score-overview" data-widget-score-overview>
		<header>
			<span class="icon icon-gauge{{ content.gaugeScore }}"></span>
			<span class="score">{{ content.widgetScore.score }}</span>
			<span class="icon icon-arrow-down" data-score-header-arrow></span>
		</header>
		<ul>
			{% for property, value in content.widgetScore.scoreDetails %}
			<li>
				<a href="#{{ property }}" tabindex="-1">
					<span class="label">{{ property | capitalize }}</span>
					<span class="value">{{ value.score }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="score-summary">
		<ul>
			{% for goodText in content.widgetScore.summary.good %}
				<li><span class="icon icon-plus"></span>{{ goodText }}</li>
			{% endfor %}
		</ul>
		<ul>
			{% for badText in content.widgetScore.summary.bad %}
				<li><span class="icon icon-min-red"></span>{{ badText }}</li>
			{% endfor %}
		</ul>
	</div>
</div>
		</div><!--
		--><aside class="social-buttons" data-social-buttons>
			<p>Share this test on</p>
			<a target="_blank" href="http://www.facebook.com/sharer.php?s=100&amp;p[url]={{ item.url | url_encode }}&amp;p[title]=Car%20UI%20-%20{{ item.title }}%20{{ item.sub_title }}&amp;p[summary]={{ item.description | url_encode }}" class="social-button icon-facebook" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=368,width=600');return false;">Facebook</a>
			<a target="_blank" href="http://twitter.com/share?text=Car UI - Review: {{ item.twitter | url_encode }}&amp;url={{ item.url | url_encode }}" class="social-button icon-twitter" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=438,width=600');return false;">Twitter</a>
			<a target="_blank" class="social-button icon-gplus" href="https://plus.google.com/share?url={{ item.url }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Google Plus</a>
		</aside>
	</section>
</div>
<!-- /intro -->
{% endmacro %}

{# this will only output in component guide #}
{%
	set content = {
		pageUrl: 'http://www.carui.info/bmw-i3-nl/',
		backgroundImage: '/static/images/bmw-i3-dashboard.jpg',
		backgroundImageAlt: 'BMW i3 dashboard',
		titleImage: '/static/images/bmw-i3-small.jpg',
		titleImageAlt: 'BMW i3 small',
		title: 'BMW i3',
		subtitle: 'Full Electric',
		description: 'Introtekst over de nieuwe BMW i3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa orem psum dolor sit.',
		testTagline: 'Getest op 12 juni 2014 door Hylke van Maaren en Miranda Schenkel',
		widgetScore: {
			score: '8,5',
			scoreDetails: {
				uitstraling: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				contrast: {
					score: '5',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				focus: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				usability: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				features: {
					score: '3',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				}
			},
			summary: {
				good: [
					'De UI is contrastrijk',
					'Hardware knop'
				],
				bad: [
					'De inputmethode',
					'Navigatie viel tegen'
				]
			}
		},
		socialSharing: {
			twitter: 'Twitter - share text',
			facebook: 'Facebook - share text'
		}
	}
%}
{{ detailIntro(content) }}