{% extends "_guide/guide.html" %}
{% import  "_guide/guide.html" as guide %}

{% block maincontent %}
<main class="app-guide-main app-guide-content">
    
    <section id="section-app" class="app-guide-section">
        <h2 class="app-guide-section-title">
            App {{ guide.linkSection('app') }}
        </h2>
        <ul>
            <li>
                <a href="../style-guide/index.html">Style guide</a> -
                all primary style rules and elements.
            </li>
        </ul>
    </section>

    <section id="section-views" class="app-guide-section">
        <h2 class="app-guide-section-title">
            Views {{ guide.linkSection('views') }}
        </h2>
        <p>
            Each view is unique and compiled out of one or more components.
        </p>
        <ul>
            {% for view in views %}
            <li>
                <a href="{{ 'modules/views/' + view + '/' + view + '.html' }}">
                    {{ view | replace("-"," ") | capitalize }}
                </a>
                <a class="app-guide-icon app-guide-icon-tags"
                   href="{{ 'modules/views/' + view + '/' + view + '.html?debug' }}"></a>
            </li>
            {% endfor %}
        </ul>
        <p>
            All views are available in <code class="language-bash">modules/views/</code>.<br/>
            Select the tag icon <span class="app-guide-icon app-guide-icon-tags"></span>
            behind a view to see the view with annotated components.
        </p>
    </section>

    <section id="section-components" class="app-guide-section">
        <h2 class="app-guide-section-title">
            Components {{ guide.linkSection('components') }}
        </h2>
        <p>
            Components are your site's or app's building blocks. Each component has
            its own markup (structure), presentation and behavior. To keep each component
            self-contained each is wrapped in its own element with the component's name
            in camelcase as its namespace. For instance 'site header' becomes 'siteHeader'.
        </p>
        <ul>
            {% for component in components %}
            <li>
                <a href="{{ '/components/' + component + '/index.html' }}">
                    {{ component | replace("-"," ") | capitalize }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <p>
            All components are available in <code class="language-bash">modules/components/</code>.
        </p>
    </section>
</main>
{% endblock %}
