<!DOCTYPE html>
<html class="no-js">
<head>
	<title>
		
Detail intro (preview) 
		Detail-intro | Car UI
		

	</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<meta name="description" content="Car UI" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" href="/static/images/favicons/favicon.ico" type="image/ico" />
	<link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-touch-icon-57x57.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-touch-icon-114x114.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-touch-icon-144x144.jpg">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-touch-icon-60x60.jpg">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-touch-icon-120x120.jpg">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-touch-icon-76x76.jpg">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-touch-icon-152x152.jpg">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon-180x180.jpg">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-192x192.jpg" sizes="192x192">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-160x160.jpg" sizes="160x160">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-96x96.jpg" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-16x16.jpg" sizes="16x16">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-32x32.jpg" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/static/images/favicons/mstile-144x144.jpg">

	<script>(function(e){e.className = e.className.replace('no-js','js');}(document.documentElement));</script>
	
	<script>/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};grunticon(["/static/images/grunticon-output/icons.data.svg.css", "/static/images/grunticon-output/icons.data.jpg.css", "/static/images/grunticon-output/icons.fallback.css"]);</script>
	<noscript>
		<link rel="stylesheet" href="/static/images/grunticon-output/icons.fallback.css" />
	</noscript>
	<link rel="stylesheet" href="/static/css/main.css"/>
	<link rel="stylesheet" href="/static/css/prism.css"/>
</head>
<body>
	<!-- use data attributes to target in JS -->
	<div id="page">
		

		
<div class="page">
	<div class="core-layout">
		<header class="app-guide-content app-guide-header">
			<img src="/static/images/grunticon-svgs/car-ux-logo.svg" alt="Car UX logo" class="app-guide-logo app-guide-logo-box-1"/>
				<h1></h1>
				<h2 class="app-guide-subtitle">Front-end guide for  by De Voorhoede</h2>
		</header>

		

<main class="app-guide-main">
	<script>window.testApp = {}; // namespace to register modules for testing</script>
	<h1 class="section-title app-guide-content">Detail intro</h1>
	<div class="app-guide-content app-guide-markdown language-markdown">
		
	</div>

	<section id="section-preview" class="app-guide-section">
		<a class="app-guide-icon app-guide-icon-list app-guide-back"
		   href="/" title="back to overview"></a>
		<h2 class="app-guide-section-title">
			Preview 
<a href="#section-preview"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

		</h2>
		<div class="app-guide-preview-top">
			<div class="app-guide-crop-mark"></div>
		</div>
		<div class="app-guide-preview">
			{% macro detailIntro(content) %}
<!-- intro -->
<div class="{% if content.widgetScore %}detail-intro{% else %}detail-intro-text{% endif %}" data-component="{% if content.widgetScore %}detail-intro{% else %}detail-intro-text{% endif %}">
	<img itemprop="image" class="intro-background" src="{{ content.backgroundImage }}" alt="{{ content.backgroundImageAlt }}" />
	<section class="intro-content max-width-centered" data-intro-section>
		<article class="intro-text" data-intro-text>
			<header>
				<img class="intro-title-image" src="{{ content.titleImage }}" alt="{{ content.titleImageAlt }}" />
				<h1 itemprop="name">
					{{ content.title }}
					<span class="subtitle">{{ content.subtitle }}</span>
				</h1>
			</header>
			{% if content.inlineVisual %}
			<img class="inline-visual" src="{{ content.inlineVisual }}" alt="{{ content.title }}" />
			{% endif %}
			<p itemprop="description">
				{{ content.description }}
			</p>
		</article>
		<div class="widget-score-block">
			<div class="widget-score" data-component="widget-score">
	<div class="score-overview" data-widget-score-overview>
		<header>
			<span class="icon icon-gauge{{ content.gaugeScore }}"></span>
			<span class="score">{{ content.widgetScore.score }}</span>
			<span class="icon icon-arrow-down" data-score-header-arrow></span>
		</header>
		<ul>
			{% for property, value in content.widgetScore.scoreDetails %}
			<li>
				<a href="#{{ property }}" tabindex="-1">
					<span class="label">{{ property | capitalize }}</span>
					<span class="value">{{ value.score }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="score-summary">
		<ul>
			{% for goodText in content.widgetScore.summary.good %}
				<li><span class="icon icon-plus"></span>{{ goodText }}</li>
			{% endfor %}
		</ul>
		<ul>
			{% for badText in content.widgetScore.summary.bad %}
				<li><span class="icon icon-min-red"></span>{{ badText }}</li>
			{% endfor %}
		</ul>
	</div>
</div>
		</div><!--
		--><aside class="social-buttons" data-social-buttons>
			<p>Share this test on</p>
			<a target="_blank" href="http://www.facebook.com/sharer.php?s=100&amp;p[url]={{ item.url | url_encode }}&amp;p[title]=Car%20UI%20-%20{{ item.title }}%20{{ item.sub_title }}&amp;p[summary]={{ item.description | url_encode }}" class="social-button icon-facebook" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=368,width=600');return false;">Facebook</a>
			<a target="_blank" href="http://twitter.com/share?text=Car UI - Review: {{ item.twitter | url_encode }}&amp;url={{ item.url | url_encode }}" class="social-button icon-twitter" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=438,width=600');return false;">Twitter</a>
			<a target="_blank" class="social-button icon-gplus" href="https://plus.google.com/share?url={{ item.url }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Google Plus</a>
		</aside>
	</section>
</div>
<!-- /intro -->
{% endmacro %}

{# this will only output in component guide #}
{%
	set content = {
		pageUrl: 'http://www.carui.info/bmw-i3-nl/',
		backgroundImage: '/static/images/bmw-i3-dashboard.jpg',
		backgroundImageAlt: 'BMW i3 dashboard',
		titleImage: '/static/images/bmw-i3-small.jpg',
		titleImageAlt: 'BMW i3 small',
		title: 'BMW i3',
		subtitle: 'Full Electric',
		description: 'Introtekst over de nieuwe BMW i3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa orem psum dolor sit.',
		testTagline: 'Getest op 12 juni 2014 door Hylke van Maaren en Miranda Schenkel',
		widgetScore: {
			score: '8,5',
			scoreDetails: {
				uitstraling: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				contrast: {
					score: '5',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				focus: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				usability: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				features: {
					score: '3',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				}
			},
			summary: {
				good: [
					'De UI is contrastrijk',
					'Hardware knop'
				],
				bad: [
					'De inputmethode',
					'Navigatie viel tegen'
				]
			}
		},
		socialSharing: {
			twitter: 'Twitter - share text',
			facebook: 'Facebook - share text'
		}
	}
%}
{{ detailIntro(content) }}
		</div>
		<div class="app-guide-preview-bottom">
			<div class="app-guide-crop-mark"></div>
		</div>
	</section>

	<section id="section-code" class="app-guide-section app-guide-content">
		<h2 class="app-guide-section-title">
			Code 
<a href="#section-code"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

		</h2>
		

		
		<section id="section-code-html">
			<h3 class="app-guide-section-title">
				HTML 
<a href="#section-code-html"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-markup"><code>{% macro detailIntro(content) %}
&lt;!-- intro -->
&lt;div class="{% if content.widgetScore %}detail-intro{% else %}detail-intro-text{% endif %}" data-component="{% if content.widgetScore %}detail-intro{% else %}detail-intro-text{% endif %}">
	&lt;img itemprop="image" class="intro-background" src="{{ content.backgroundImage }}" alt="{{ content.backgroundImageAlt }}" />
	&lt;section class="intro-content max-width-centered" data-intro-section>
		&lt;article class="intro-text" data-intro-text>
			&lt;header>
				&lt;img class="intro-title-image" src="{{ content.titleImage }}" alt="{{ content.titleImageAlt }}" />
				&lt;h1 itemprop="name">
					{{ content.title }}
					&lt;span class="subtitle">{{ content.subtitle }}&lt;/span>
				&lt;/h1>
			&lt;/header>
			{% if content.inlineVisual %}
			&lt;img class="inline-visual" src="{{ content.inlineVisual }}" alt="{{ content.title }}" />
			{% endif %}
			&lt;p itemprop="description">
				{{ content.description }}
			&lt;/p>
		&lt;/article>
		&lt;div class="widget-score-block">
			&lt;div class="widget-score" data-component="widget-score">
	&lt;div class="score-overview" data-widget-score-overview>
		&lt;header>
			&lt;span class="icon icon-gauge{{ content.gaugeScore }}">&lt;/span>
			&lt;span class="score">{{ content.widgetScore.score }}&lt;/span>
			&lt;span class="icon icon-arrow-down" data-score-header-arrow>&lt;/span>
		&lt;/header>
		&lt;ul>
			{% for property, value in content.widgetScore.scoreDetails %}
			&lt;li>
				&lt;a href="#{{ property }}" tabindex="-1">
					&lt;span class="label">{{ property | capitalize }}&lt;/span>
					&lt;span class="value">{{ value.score }}&lt;/span>
				&lt;/a>
			&lt;/li>
			{% endfor %}
		&lt;/ul>
	&lt;/div>
	&lt;div class="score-summary">
		&lt;ul>
			{% for goodText in content.widgetScore.summary.good %}
				&lt;li>&lt;span class="icon icon-plus">&lt;/span>{{ goodText }}&lt;/li>
			{% endfor %}
		&lt;/ul>
		&lt;ul>
			{% for badText in content.widgetScore.summary.bad %}
				&lt;li>&lt;span class="icon icon-min-red">&lt;/span>{{ badText }}&lt;/li>
			{% endfor %}
		&lt;/ul>
	&lt;/div>
&lt;/div>
		&lt;/div>&lt;!--
		-->&lt;aside class="social-buttons" data-social-buttons>
			&lt;p>Share this test on&lt;/p>
			&lt;a target="_blank" href="http://www.facebook.com/sharer.php?s=100&amp;p[url]={{ item.url | url_encode }}&amp;p[title]=Car%20UI%20-%20{{ item.title }}%20{{ item.sub_title }}&amp;p[summary]={{ item.description | url_encode }}" class="social-button icon-facebook" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=368,width=600');return false;">Facebook&lt;/a>
			&lt;a target="_blank" href="http://twitter.com/share?text=Car UI - Review: {{ item.twitter | url_encode }}&amp;url={{ item.url | url_encode }}" class="social-button icon-twitter" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=438,width=600');return false;">Twitter&lt;/a>
			&lt;a target="_blank" class="social-button icon-gplus" href="https://plus.google.com/share?url={{ item.url }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Google Plus&lt;/a>
		&lt;/aside>
	&lt;/section>
&lt;/div>
&lt;!-- /intro -->
{% endmacro %}

{# this will only output in component guide #}
{%
	set content = {
		pageUrl: 'http://www.carui.info/bmw-i3-nl/',
		backgroundImage: '/static/images/bmw-i3-dashboard.jpg',
		backgroundImageAlt: 'BMW i3 dashboard',
		titleImage: '/static/images/bmw-i3-small.jpg',
		titleImageAlt: 'BMW i3 small',
		title: 'BMW i3',
		subtitle: 'Full Electric',
		description: 'Introtekst over de nieuwe BMW i3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa orem psum dolor sit.',
		testTagline: 'Getest op 12 juni 2014 door Hylke van Maaren en Miranda Schenkel',
		widgetScore: {
			score: '8,5',
			scoreDetails: {
				uitstraling: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				contrast: {
					score: '5',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				focus: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				usability: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				features: {
					score: '3',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				}
			},
			summary: {
				good: [
					'De UI is contrastrijk',
					'Hardware knop'
				],
				bad: [
					'De inputmethode',
					'Navigatie viel tegen'
				]
			}
		},
		socialSharing: {
			twitter: 'Twitter - share text',
			facebook: 'Facebook - share text'
		}
	}
%}
{{ detailIntro(content) }}</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_detail-intro.html" title="view source HTML"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_detail-intro.html" download="_detail-intro.html" title="download HTML"></a></li>
				</ul>
			</div>
		</section>
		

		
		<section id="section-code-css">
			<h3 class="app-guide-section-title">
				CSS 
<a href="#section-code-css"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-css"><code>@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* intro component */

.detail-intro-text,
.detail-intro {
	background-color: $light-grey;
	padding-top: 0;
	padding-bottom: $intro-summary-overlap;
	@include min-screen($break-large) {
		padding-top: 30px;
	}

	.intro-background {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	.intro-content {
		background-color: $white;

		@include min-screen($break-large) {
			margin-top: -170px;
		}
	}

	.intro-text {
		@include clearfix;
		@include transition(height .2s ease-out);

		background-color: $white;
		padding: 30px 30px 25px 33px;
		text-align: center;

		@include min-screen($break-small) {
			@include box-sizing(border-box);

			display: inline-block;
			vertical-align: top;
			width: 66%;
			padding-bottom: 0;
			text-align: left;
		}

		header,
		p {
			text-align: left;
		}

		h1,
		.intro-title-image {
			display: inline-block;
			vertical-align: top;
			width: 33%;

			@include min-screen($break-small) {
				width: auto;
			}
		}

		.intro-title-image {
			margin-right: 20px;
		}

		h1 {
			display: inline-block;
			vertical-align: top;
			margin: 0;
			max-width: 70%;
		}

		.subtitle {
			display: block;
			font-size: .55em;
		}

		.inline-visual {
			width: auto;
			max-width: 100%;

			@include min-screen($break-small) {
				float: right;
				padding: 20px 0 30px 30px;
			}
		}

		p {
			font-size: 1.6em;
		}
	}

	.widget-score-block {
		.widget-score {
			@include transition(height .2s ease-out);
		}

		@include min-screen($break-small) {
			@include box-sizing(border-box);

			display: inline-block;
			vertical-align: top;
			width: 34%;
		}
	}

	.social-buttons {
		@include transition(margin .2s ease-out);

		background-color: $white;
		padding: 0 0 30px 30px;

		@include min-screen($break-small) {
			@include box-sizing(border-box);

			display: inline-block;
			vertical-align: top;
			width: 66.66%;

			// Set a negative margin to the height of the social-buttons
			// container to avoid movement on initial page load
			margin-top: -102px;
		}

		.social-button {
			@include transition(background .2s ease-out);
			@include hide-text;

			display: inline-block;
			border: none;
			width: 30px;
			height: 30px;
		}

		p {
			color: $dark-grey;
			font-size: 1.2em;
			margin: 0;
			padding: 10px 0;
		}
	}
}

.detail-intro-text {
	padding-bottom: 0;
	margin-bottom: 60px;

	.intro-text {
		width: auto;
		padding-bottom: 30px;

		h1 {
			max-width: 100%;
			width: 100%;
		}
	}
}</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_detail-intro.css" title="view source CSS"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_detail-intro.css" download="_detail-intro.css" title="download CSS"></a></li>
				</ul>
			</div>
		</section>
		

		
		<section id="section-code-javascript">
			<h3 class="app-guide-section-title">
				JS 
<a href="#section-code-js"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-javascript"><code>(function(d, w){
	'use strict';

	var introComponentElm = d.querySelector('[data-component="detail-intro"]');
	if (!introComponentElm) {
		return;
	}
	var introTextElm = introComponentElm.querySelector('[data-intro-text]');
	var widgetScoreElm = introComponentElm.querySelector('[data-component="widget-score"]');
	var introSectionElm = introComponentElm.querySelector('[data-intro-section]');
	var socialButtonsElm = introComponentElm.querySelector('[data-social-buttons]');

	// Make the widget height equal to the height of introTextElm
	function equalizeHeight() {
		if (helpers.breakSize !== 'extra-small') {
			introSectionElm.style.height = widgetScoreElm.style.height = (introTextElm.offsetHeight + socialButtonsElm.offsetHeight) + 'px';
			socialButtonsElm.style.marginTop = -(socialButtonsElm.offsetHeight) + 'px';
		} else {
			socialButtonsElm.style.marginTop = introSectionElm.style.height = widgetScoreElm.style.height = '';
		}
	}

	// Fire equalizeHeight debounced on the resize event
	w.addEventListener('resize', debounce(equalizeHeight, 250), false);

	// Make sure all images inside introTextElm are loaded
	w.addEventListener('load', equalizeHeight, false);
}(document, window));</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_detail-intro.js" title="view source JavaScript"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_detail-intro.js" download="_detail-intro.js" title="download JavaScript"></a></li>
				</ul>
			</div>
		</section>
		

	</section>
</main>


	</div>

</div>


		
<footer class="app-guide-footer">
	This page is generated using <a href="http://voorhoede.nl">De Voorhoede</a>'s template builder
</footer>

	</div>

	

	<script src="/static/scripts/main.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-56616974-1', 'auto');
		ga('send', 'pageview');
	</script>
	
<script src="/static/javascript/prism.js"></script>



</body>
</html>
