{% extends "templates/_base/base.html" %}

{% block content %}
<main class="app-guide-main app-guide-content max-width-centered">
    <section class="app-guide-section" id="section-views">
        <h2 class="app-guide-section-title">Views <a class=
        "app-guide-permalink app-guide-icon" href="#section-views" title=
        "permalink to this section"></a></h2>

        <p>Each view is unique and compiled out of one or more
        components.</p>

        <ul>
            {% for review in cms.reviews %}
            <li>
                <a href="{{ url(review) }}">{{ review.title }}</a>
                <a class="app-guide-icon app-guide-icon-tags" href=
                "{{ url(review) }}?debug"></a>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="app-guide-section" id="section-components">
        <h2 class="app-guide-section-title">Components <a class=
        "app-guide-permalink app-guide-icon" href="#section-components"
        title="permalink to this section"></a></h2>

        <p>Components are your site's or app's building blocks. Each
        component has its own markup (structure), presentation and
        behavior. To keep each component self-contained each is wrapped in
        its own element with the component's name in camelcase as its
        namespace. For instance 'site header' becomes 'siteHeader'.</p>

        {% for component in components %}
            <li>
                <a href="{{ 'modules/components/' + component + '/preview.html' }}">
                    {{ component | replace("-"," ") | capitalize }}
                </a>
            </li>
            {% endfor %}

        <ul>
            <li>
                <a href=
                "/components/bibliography/index.html">Bibliography</a>
            </li>
            <li>
                <a href=
                "/components/bulletpoints/index.html">Bulletpoints</a>
            </li>
            <li>
                <a href=
                "/components/comments/index.html">Comments</a>
            </li>
            <li>
                <a href=
                "/components/detail-intro/index.html">Detail
                intro</a>
            </li>
            <li>
                <a href=
                "/components/detail-main/index.html">Detail
                main</a>
            </li>
            <li>
                <a href=
                "/components/featured/index.html">Featured</a>
            </li>
            <li>
                <a href="/components/footer/index.html">Footer</a>
            </li>
            <li>
                <a href="/components/header/index.html">Header</a>
            </li>
            <li>
                <a href=
                "/components/highlight/index.html">Highlight</a>
            </li>
            <li>
                <a href="/components/home-intro/index.html">Home
                intro</a>
            </li>
            <li>
                <a href="/components/home-main/index.html">Home
                main</a>
            </li>
            <li>
                <a href="/components/quote/index.html">Quote</a>
            </li>
            <li>
                <a href=
                "/components/related/index.html">Related</a>
            </li>
            <li>
                <a href="/components/score/index.html">Score</a>
            </li>
            <li>
                <a href=
                "/components/shortlist/index.html">Shortlist</a>
            </li>
            <li>
                <a href=
                "/components/summary/index.html">Summary</a>
            </li>
            <li>
                <a href="/components/text-image/index.html">Text
                image</a>
            </li>
            <li>
                <a href=
                "/components/widget-score/index.html">Widget
                score</a>
            </li>
        </ul>
    </section>
</main>
{% endblock %}