<!DOCTYPE html>
<html class="no-js">
<head>
	<title>
		
Header (preview) 
		Header | Car UI
		

	</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<meta name="description" content="Car UI" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" href="/static/images/favicons/favicon.ico" type="image/ico" />
	<link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-touch-icon-57x57.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-touch-icon-114x114.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-touch-icon-144x144.jpg">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-touch-icon-60x60.jpg">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-touch-icon-120x120.jpg">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-touch-icon-76x76.jpg">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-touch-icon-152x152.jpg">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon-180x180.jpg">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-192x192.jpg" sizes="192x192">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-160x160.jpg" sizes="160x160">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-96x96.jpg" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-16x16.jpg" sizes="16x16">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-32x32.jpg" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/static/images/favicons/mstile-144x144.jpg">

	<script>(function(e){e.className = e.className.replace('no-js','js');}(document.documentElement));</script>
	
	<script>/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};grunticon(["/static/images/grunticon-output/icons.data.svg.css", "/static/images/grunticon-output/icons.data.jpg.css", "/static/images/grunticon-output/icons.fallback.css"]);</script>
	<noscript>
		<link rel="stylesheet" href="/static/images/grunticon-output/icons.fallback.css" />
	</noscript>
	<link rel="stylesheet" href="/static/css/main.css"/>
	<link rel="stylesheet" href="/static/css/prism.css"/>
</head>
<body>
	<!-- use data attributes to target in JS -->
	<div id="page">
		

		
<div class="page">
	<div class="core-layout">
		<header class="app-guide-content app-guide-header">
			<img src="/static/images/grunticon-svgs/car-ux-logo.svg" alt="Car UX logo" class="app-guide-logo app-guide-logo-box-1"/>
				<h1></h1>
				<h2 class="app-guide-subtitle">Front-end guide for  by De Voorhoede</h2>
		</header>

		

<main class="app-guide-main">
	<script>window.testApp = {}; // namespace to register modules for testing</script>
	<h1 class="section-title app-guide-content">Header</h1>
	<div class="app-guide-content app-guide-markdown language-markdown">
		
	</div>

	<section id="section-preview" class="app-guide-section">
		<a class="app-guide-icon app-guide-icon-list app-guide-back"
		   href="/" title="back to overview"></a>
		<h2 class="app-guide-section-title">
			Preview 
<a href="#section-preview"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

		</h2>
		<div class="app-guide-preview-top">
			<div class="app-guide-crop-mark"></div>
		</div>
		<div class="app-guide-preview">
			{% macro header(navigation) %}
<!-- header -->
<header class="header" data-component="header">
	<div class="header-content">
		<div class="logo-area">
			<a href="/" class="logo icon-car-ux-logo">CAR UI</a>
		</div>
		<nav>
			<ul>
				{% for item in navigation %}
				<li class="{% if item.active %} active-nav-item {% endif %}">
					<a href="{{ item.href }}">{{ item.label }}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
	<div class="header-background-left"></div>
	<div class="header-background-right"></div>
</header>
<!-- /header -->
{% endmacro %}

{%
	set navigation = [
		{
			label: 'Home',
			href: '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: '/modules/views/reviews/reviews.html',
			active: true
		},
		{
			label: 'About Car UI',
			href: '#over',
			active: false
		}
	]
%}
{{ header(navigation) }}
		</div>
		<div class="app-guide-preview-bottom">
			<div class="app-guide-crop-mark"></div>
		</div>
	</section>

	<section id="section-code" class="app-guide-section app-guide-content">
		<h2 class="app-guide-section-title">
			Code 
<a href="#section-code"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

		</h2>
		

		
		<section id="section-code-html">
			<h3 class="app-guide-section-title">
				HTML 
<a href="#section-code-html"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-markup"><code>{% macro header(navigation) %}
&lt;!-- header -->
&lt;header class="header" data-component="header">
	&lt;div class="header-content">
		&lt;div class="logo-area">
			&lt;a href="/" class="logo icon-car-ux-logo">CAR UI&lt;/a>
		&lt;/div>
		&lt;nav>
			&lt;ul>
				{% for item in navigation %}
				&lt;li class="{% if item.active %} active-nav-item {% endif %}">
					&lt;a href="{{ item.href }}">{{ item.label }}&lt;/a>
				&lt;/li>
				{% endfor %}
			&lt;/ul>
		&lt;/nav>
	&lt;/div>
	&lt;div class="header-background-left">&lt;/div>
	&lt;div class="header-background-right">&lt;/div>
&lt;/header>
&lt;!-- /header -->
{% endmacro %}

{%
	set navigation = [
		{
			label: 'Home',
			href: '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: '/modules/views/reviews/reviews.html',
			active: true
		},
		{
			label: 'About Car UI',
			href: '#over',
			active: false
		}
	]
%}
{{ header(navigation) }}</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_header.html" title="view source HTML"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_header.html" download="_header.html" title="download HTML"></a></li>
				</ul>
			</div>
		</section>
		

		
		<section id="section-code-css">
			<h3 class="app-guide-section-title">
				CSS 
<a href="#section-code-css"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-css"><code>@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* header component */

//navigation specific breakpoints
$nav-break-extra-small: 590px;

.header {
	position: relative;
	height: 60px;
	@include min-screen($nav-break-extra-small) {
		height: 80px;
	}

	.header-content {
		width: 100%;
		max-width: 1200px;
		margin-right: auto;
		margin-left: auto;
		background-color: $black;
	}
	.logo-area, nav {
		display: inline-block;
		vertical-align: top;
	}
	.logo-area {
		position: relative;
		height: 60px;
		width: 76px;
		background-color: $yellow;
		@include min-screen($nav-break-extra-small) {
			width: 95px;
			height: 80px;
		}
		@include min-screen($break-large) {
			width: 19%;
			min-width: 95px;
		}
	}
	.logo {
		@include hide-text();
		border: none;
		display: block;
		position: absolute;
		height: 30px;
		width: 40px;
		top: 15px;
		right: 18px;
		@include min-screen($nav-break-extra-small) {
			height: 40px;
			width: 55px;
			top: 20px;
			right: 20px;
		}
	}
	nav {
		ul {
			margin-bottom: 0;
			margin-top: 22px;
			margin-left: -8px;
			padding-left: 0;
			@include min-screen($nav-break-extra-small) {
				margin-top: 25px;
				margin-left: -15px;
			}
			@include min-screen($break-medium) {
				margin-top: 29px;
			}
		}
		li {
			display: inline-block;
			vertical-align: top;
			margin-left: 26px;
			list-style: none;
			@include min-screen($nav-break-extra-small) {
				margin-left: 45px;
			}
		}
		a {
			@include header-font();

			font-size: 16px;
			line-height: 1.2;
			color: $white;
			&:hover,
			&:focus {
				color: $yellow;
			}
			@include min-screen($nav-break-extra-small) {
				font-size: 25px;
			}
		}
	}
	.active-nav-item {
		border-bottom: 4px solid $yellow;
		a {
			color: $yellow;
		}
	}
	.nav-text-large {
		display: none;
		@include min-screen($nav-break-extra-small) {
			display: inline;
		}
	}
	.header-background-left, .header-background-right {
		position: absolute;
		top: 0;
		z-index: -1;
		width: 50%;
		height: 100%;
	}
	.header-background-left {
		left: 0;
		background-color: $yellow;
	}
	.header-background-right {
		right: 0;
		background-color: $black;
	}
}</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_header.css" title="view source CSS"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_header.css" download="_header.css" title="download CSS"></a></li>
				</ul>
			</div>
		</section>
		

		

	</section>
</main>


	</div>

</div>


		
<footer class="app-guide-footer">
	This page is generated using <a href="http://voorhoede.nl">De Voorhoede</a>'s template builder
</footer>

	</div>

	

	<script src="/static/scripts/main.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-56616974-1', 'auto');
		ga('send', 'pageview');
	</script>
	
<script src="/static/javascript/prism.js"></script>



</body>
</html>
