{% macro scoreExpandible(content) %}
<!-- score -->
<section class="score" data-component="score">
	<div class="score-heading">
		<h1>SCORES</h1>
		<span class="testing-date-person">{{ content.testTagline }}</span>
	</div>
	{% for property, value in content.widgetScore.scoreDetails %}
	<div class="score-item {% if loop.first %}is-expanded{% endif %}"
		 data-expandible
		 data-expandible-open-on-focus="true"><!--data-expandible-close-on-blur="true"-->
		<a href="#0"
		   name="{{ property }}"
		   class="score-title"
		   data-expandible-handle="toggle">
			<h2>{{ property | capitalize }}</h2>
			<span class="arrow-box"><span class="score-read-more"></span><span data-icon-arrow class="icon {% if loop.first %} icon-arrow-up-white {% else %} icon-arrow-down-white {% endif %}"></span></span>
		</a>
		<div class="score-content has-visual" data-expandible-content>
			<div class="score-box-wrapper">
				<div class="score-box">
					<span class="score-number">{{ value.score }}</span>
					<span class="score-icon icon icon-gauge{{ content.gaugeScore }}"></span>
				</div>
			</div><!--
			--><p>
				{{ value.description }}
			</p><!--
			--><img class="score-content-visual" src="{{ value.visual }}" alt="{{ property | capitalize }}" />
		</div>
	</div>
	{% endfor %}
</section>
<!-- /score -->
{% endmacro %}

{%
	set content = {
		pageUrl: 'http://www.carui.info/bmw-i3-nl/',
		backgroundImage: pathToAssets + 'images/bmw-i3-nl/bmw-i3-dashboard.jpg',
		backgroundImageAlt: 'BMW i3 dashboard',
		titleImage: pathToAssets + 'images/bmw-i3-nl/bmw-i3-small.jpg',
		titleImageAlt: 'BMW i3 small',
		title: 'BMW i3',
		subtitle: 'Business model 1.5 TDI',
		description: 'Introtekst over de nieuwe BMW i3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa orem psum dolor sit.',
		testTagline: 'Getest op 12 juni 2014 door Hylke van Maaren en Miranda Schenkel',
		gaugeScore: '4',
		widgetScore: {
			score: '8,5',
			scoreDetails: {
				uitstraling: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.',
					visual: '/static/images/bmw-i3-small.jpg'
				},
				contrast: {
					score: '5',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.',
					visual: '/static/images/bmw-i3-small.jpg'
				},
				focus: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.',
					visual: '/static/images/bmw-i3-small.jpg'
				},
				usability: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.',
					visual: '/static/images/bmw-i3-small.jpg'
				},
				features: {
					score: '3',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.',
					visual: '/static/images/bmw-i3-small.jpg'
				}
			},
			summary: {
				good: [
					'De UI is contrastrijk',
					'Hardware knop'
				],
				bad: [
					'De inputmethode',
					'Navigatie viel tegen'
				]
			}
		},
		socialSharing: {
			twitter: 'Twitter - share text',
			facebook: 'Facebook - share text'
		}
	}
%}
{{ scoreExpandible(content) }}
