//
// Modules
//
//

@import '../../components/bibliography/bibliography';
@import '../../components/comments/comments';
@import '../../components/detail-intro/detail-intro';
@import '../../components/detail-main/detail-main';
@import '../../components/featured/featured';
@import '../../components/footer/footer';
@import '../../components/header/header';
@import '../../components/home-intro/home-intro';
@import '../../components/home-main/home-main';
@import '../../components/highlight/highlight';
@import '../../components/quote/quote';
@import '../../components/related/related';
@import '../../components/score/score';
@import '../../components/shortlist/shortlist';
@import '../../components/summary/summary';
@import '../../components/text-image/text-image';
@import '../../components/widget-score/widget-score';

//
// Views
//
//

@import '../../templates/about/about';
@import '../../templates/reviews/reviews';