@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* home-main component */

.home-main {
	width: 100%;
	background-color: $light-grey;
	padding-bottom: 8em;

	h1 {
		color: $black;
		padding-top: 60px;
		margin-left: 0;
	}
}