{# ------------------------------------------------------- #}
{# ONE OFF VIEW navigation #}
{# This page can use any data from http:localhost:2000/cms/#/form/navigation/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/_partials/base.html" %}
{# This sets our page <title>. It will append this navigation's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.navigation.name }}{% endblock %}
{% block content %}
  <h1>{{ cms.navigation.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ cms.navigation.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.navigation.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.navigation.last_updated|date('F d Y') }}
      </li>
  </ul>
{% endblock %}
