<!DOCTYPE html>
<html class="no-js">
<head>
	<title>
		
Summary (preview) 
		Summary | Car UI
		

	</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<meta name="description" content="Car UI" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" href="/static/images/favicons/favicon.ico" type="image/ico" />
	<link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-touch-icon-57x57.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-touch-icon-114x114.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-touch-icon-144x144.jpg">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-touch-icon-60x60.jpg">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-touch-icon-120x120.jpg">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-touch-icon-76x76.jpg">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-touch-icon-152x152.jpg">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon-180x180.jpg">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-192x192.jpg" sizes="192x192">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-160x160.jpg" sizes="160x160">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-96x96.jpg" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-16x16.jpg" sizes="16x16">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-32x32.jpg" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/static/images/favicons/mstile-144x144.jpg">

	<script>(function(e){e.className = e.className.replace('no-js','js');}(document.documentElement));</script>
	
	<script>/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};grunticon(["/static/images/grunticon-output/icons.data.svg.css", "/static/images/grunticon-output/icons.data.jpg.css", "/static/images/grunticon-output/icons.fallback.css"]);</script>
	<noscript>
		<link rel="stylesheet" href="/static/images/grunticon-output/icons.fallback.css" />
	</noscript>
	<link rel="stylesheet" href="/static/css/main.css"/>
	<link rel="stylesheet" href="/static/css/prism.css"/>
</head>
<body>
	<!-- use data attributes to target in JS -->
	<div id="page">
		

		
<div class="page">
	<div class="core-layout">
		<header class="app-guide-content app-guide-header">
			<img src="/static/images/grunticon-svgs/car-ux-logo.svg" alt="Car UX logo" class="app-guide-logo app-guide-logo-box-1"/>
				<h1></h1>
				<h2 class="app-guide-subtitle">Front-end guide for  by De Voorhoede</h2>
		</header>

		

<main class="app-guide-main">
	<script>window.testApp = {}; // namespace to register modules for testing</script>
	<h1 class="section-title app-guide-content">Summary</h1>
	<div class="app-guide-content app-guide-markdown language-markdown">
		<p>The summary component has a margin-top of -500px. For layout reasons this margin has been removed in the component preview.</p>

	</div>

	<section id="section-preview" class="app-guide-section">
		<a class="app-guide-icon app-guide-icon-list app-guide-back"
		   href="/" title="back to overview"></a>
		<h2 class="app-guide-section-title">
			Preview 
<a href="#section-preview"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

		</h2>
		<div class="app-guide-preview-top">
			<div class="app-guide-crop-mark"></div>
		</div>
		<div class="app-guide-preview">
			{% macro summaryBlock(content, visualOnBottom = true) %}
<!-- summary -->
<div class="summary" data-component="summary">
	<section class="max-width-centered">
		{% if visualOnBottom %}
		<h1>THE TEST</h1>
		{% endif %}
		<div class="summary-content">
			{% if visualOnBottom == false %}
			<img src="{{ content.visual }}" alt="{{ content.title }}"/>
			{% endif %}
			<div class="summary-text">
				<h2>{{ content.title }}</h2>
				{% if content.inlineVisual %}
				<img class="inline-visual" src="{{ content.inlineVisual }}" alt="{{ content.title }}" />
				{% endif %}
				<p>{{ content.text }}</p>
			</div>
			{% if visualOnBottom %}
			<img src="{{ content.visual }}" alt="{{ content.title }}"/>
			{% endif %}
		</div>
	</section>
</div>
<!-- /summary -->
{% endmacro %}

{%
	set summaryContent = {
		title: 'De intrede van de schermen',
		text: 'De laatste paar jaren heeft het digitale scherm zijn weg gevonden in het dashboard van de auto. Eerst om informatie van de boordcomputer weer te geven tussen de primaire klokken. Maar later ook in de midden-console voor navigatie en muziek. En in sommige merken groeien deze schermen steeds meer naar elkaar toe. Maar ze herbergen ook steeds meer functionaliteiten nu er meer techniek in de auto komt en de producenten de fysieke knoppen in het dashboard steeds vaker willen laten verdwijnen. Alle kennis die de afgelopen 100 jaar opgedaan is in het ontwerpen van het dashboard kan dan ook uit het raam gegooid worden. Want digitale user interface design is toch een heel ander vakgebied, met hele andere oplossingen voor dezelfde problemen dan in de fysieke wereld.
			<br/><br/>En hiermee hebben de auto producenten zich eigenlijk een heleboel extra verantwoordelijkheid en uitdagingen op de hals genomen. En laten we wel zijn, die hebben ze nog niet opgelost. Vaak stappen ze ook in de val van de visuele mogelijkheden die de schermen nu bieden en pakken ze daarmee flink uit. Om tegelijkertijd de functionaliteit, identiteit en het intuïtieve gedrag uit het oog te verliezen. In veel gevallen is ook de klasse uitstraling van het merk en model niet meer terug te vinden in de digitale UI. En dit zie je vaak in het C, D en E segment. De interfaces lijken door hele andere afdelingen gemaakt te zijn dan de mensen die het interieur hebben ontworpen. Ze vormen geen geheel met de design taal van het interieur en het exterieur. Ze komen vaak erg technisch over, zitten hiërarchisch slecht in elkaar en ook hebben de schermen een lage kwaliteit.
			<br/><br/>Dit alles zorgt er voor dat de problemen eigenlijk alleen nog maar groter worden en dat de gemiddelde bestuurder een flinke leercurve nodig heeft om zijn of haar eigen auto ten volle te kunnen gebruiken. Maar ook dat het gevaarlijke situaties op kan leveren tijdens het rijden omdat top-taken niet logisch te vinden of te bedienen zijn.
			<br/><br/>Ook kan het een nadelige uitwerking hebben op de merk beleving als een merk pretendeert ‘premium’ te zijn, maar de interface onverzorgd en goedkoop over komt. De emotie, esthetiek, finesse en het spelen met het lijnenspel dat komt kijken bij het ontwerpen van een auto, wordt in de meeste gevallen duidelijk niet toegepast in het ontwerpen van de interfaces.',
		visual: pathToAssets + 'images/opel-insignia-nl/opel-insignia-summary.jpg',
		inlineVisual: pathToAssets + 'images/about/1.jpg'
	}
%}
{{ summaryBlock(summaryContent) }}
		</div>
		<div class="app-guide-preview-bottom">
			<div class="app-guide-crop-mark"></div>
		</div>
	</section>

	<section id="section-code" class="app-guide-section app-guide-content">
		<h2 class="app-guide-section-title">
			Code 
<a href="#section-code"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

		</h2>
		

		
		<section id="section-code-html">
			<h3 class="app-guide-section-title">
				HTML 
<a href="#section-code-html"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-markup"><code>{% macro summaryBlock(content, visualOnBottom = true) %}
&lt;!-- summary -->
&lt;div class="summary" data-component="summary">
	&lt;section class="max-width-centered">
		{% if visualOnBottom %}
		&lt;h1>THE TEST&lt;/h1>
		{% endif %}
		&lt;div class="summary-content">
			{% if visualOnBottom == false %}
			&lt;img src="{{ content.visual }}" alt="{{ content.title }}"/>
			{% endif %}
			&lt;div class="summary-text">
				&lt;h2>{{ content.title }}&lt;/h2>
				{% if content.inlineVisual %}
				&lt;img class="inline-visual" src="{{ content.inlineVisual }}" alt="{{ content.title }}" />
				{% endif %}
				&lt;p>{{ content.text }}&lt;/p>
			&lt;/div>
			{% if visualOnBottom %}
			&lt;img src="{{ content.visual }}" alt="{{ content.title }}"/>
			{% endif %}
		&lt;/div>
	&lt;/section>
&lt;/div>
&lt;!-- /summary -->
{% endmacro %}

{%
	set summaryContent = {
		title: 'De intrede van de schermen',
		text: 'De laatste paar jaren heeft het digitale scherm zijn weg gevonden in het dashboard van de auto. Eerst om informatie van de boordcomputer weer te geven tussen de primaire klokken. Maar later ook in de midden-console voor navigatie en muziek. En in sommige merken groeien deze schermen steeds meer naar elkaar toe. Maar ze herbergen ook steeds meer functionaliteiten nu er meer techniek in de auto komt en de producenten de fysieke knoppen in het dashboard steeds vaker willen laten verdwijnen. Alle kennis die de afgelopen 100 jaar opgedaan is in het ontwerpen van het dashboard kan dan ook uit het raam gegooid worden. Want digitale user interface design is toch een heel ander vakgebied, met hele andere oplossingen voor dezelfde problemen dan in de fysieke wereld.
			&lt;br/>&lt;br/>En hiermee hebben de auto producenten zich eigenlijk een heleboel extra verantwoordelijkheid en uitdagingen op de hals genomen. En laten we wel zijn, die hebben ze nog niet opgelost. Vaak stappen ze ook in de val van de visuele mogelijkheden die de schermen nu bieden en pakken ze daarmee flink uit. Om tegelijkertijd de functionaliteit, identiteit en het intuïtieve gedrag uit het oog te verliezen. In veel gevallen is ook de klasse uitstraling van het merk en model niet meer terug te vinden in de digitale UI. En dit zie je vaak in het C, D en E segment. De interfaces lijken door hele andere afdelingen gemaakt te zijn dan de mensen die het interieur hebben ontworpen. Ze vormen geen geheel met de design taal van het interieur en het exterieur. Ze komen vaak erg technisch over, zitten hiërarchisch slecht in elkaar en ook hebben de schermen een lage kwaliteit.
			&lt;br/>&lt;br/>Dit alles zorgt er voor dat de problemen eigenlijk alleen nog maar groter worden en dat de gemiddelde bestuurder een flinke leercurve nodig heeft om zijn of haar eigen auto ten volle te kunnen gebruiken. Maar ook dat het gevaarlijke situaties op kan leveren tijdens het rijden omdat top-taken niet logisch te vinden of te bedienen zijn.
			&lt;br/>&lt;br/>Ook kan het een nadelige uitwerking hebben op de merk beleving als een merk pretendeert ‘premium’ te zijn, maar de interface onverzorgd en goedkoop over komt. De emotie, esthetiek, finesse en het spelen met het lijnenspel dat komt kijken bij het ontwerpen van een auto, wordt in de meeste gevallen duidelijk niet toegepast in het ontwerpen van de interfaces.',
		visual: pathToAssets + 'images/opel-insignia-nl/opel-insignia-summary.jpg',
		inlineVisual: pathToAssets + 'images/about/1.jpg'
	}
%}
{{ summaryBlock(summaryContent) }}</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_summary.html" title="view source HTML"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_summary.html" download="_summary.html" title="download HTML"></a></li>
				</ul>
			</div>
		</section>
		

		
		<section id="section-code-css">
			<h3 class="app-guide-section-title">
				CSS 
<a href="#section-code-css"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-css"><code>@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* summary component */

.summary {
	margin-top: -$intro-summary-overlap;

	h1 {
		color: $black;
	}

	.summary-content {
		margin-bottom: 80px;
		text-align: center;

		@include min-screen($break-small) {
			text-align: left;
		}

		h2 {
			@include header-font();

			font-size: 25px;
			text-align: left;
		}

		img {
			vertical-align: bottom;
			width: 100%;
		}

		p {
			text-align: left;
		}

		.inline-visual {
			width: auto;
			max-width: 100%;

			@include min-screen($break-small) {
				float: right;
				padding: 5px 0 30px 30px;
			}
		}
	}

	.summary-text {
		@include clearfix;

		background-color: $white;
		padding: 30px 40px;
	}
}</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_summary.css" title="view source CSS"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_summary.css" download="_summary.css" title="download CSS"></a></li>
				</ul>
			</div>
		</section>
		

		

	</section>
</main>


	</div>

</div>


		
<footer class="app-guide-footer">
	This page is generated using <a href="http://voorhoede.nl">De Voorhoede</a>'s template builder
</footer>

	</div>

	

	<script src="/static/scripts/main.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-56616974-1', 'auto');
		ga('send', 'pageview');
	</script>
	
<script src="/static/javascript/prism.js"></script>



</body>
</html>
